html
    include includes/head
    body
        // Section with title
        section.hero.is-small.is-light.is-bold
            div.hero-body
                div.container
                    h1.subtitle.is-4= message

        div.container

            // Information about HTTP-Headers
            section.section
                h3.subtitle.is-4 HTTP Headers
                each value, key in httpHeaders
                    div.columns
                        div.column.is-3.has-text-weight-bold.is-capitalized= key
                        div.column.is-9= value

            // Information about Javascript windows.navigation object

